.all_notes {
  background:yellow;
  color:black;
  width:100px;
  height:100px;
  position:absolute;
}

#one {
  top:75px;
  left:50px;
}

#two {
  top:75px;
  left:200px;
}

#three {
  top:75px;
  left:350px;
}

#four {
  top:75px;
  left:500px;
}

#five {
  top:75px;
  left:650px;
}