input {
	margin: 5px;
	border-style: solid;
	border: single black;
	overflow: visible;
	padding: 5px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 0;
	margin-bottom: 2%
	}

svg {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 0%;
}

body {
	font-family: Helvetica;
	font-size: 90%;
	margin: 3%;
	background-color: rgb(217, 230, 242);
}

.linkSpan {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	}

#wrapper {
	background-color: rgb(250,250,250);
	text-align: center;
	padding: 2%;
	border-radius: 5px;
	border: 2px solid  black;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid black;
	margin: 1em 0;
	padding: 0;
}

button {
	align: center;
	height: 28px;
}